/*---Breakpoint Variables---*/
$breakpoint-768: 768px;
$breakpoint-991: 991px;
$breakpoint-1024: 1024px;
$breakpoint-1200: 1200px;
$breakpoint-1382: 1382px;

/*---Color Variables---*/
$primary-color: #000000;
$secondary-color: #919191;
$tertiary-color: #43b1e6;
$quaternary-color: #dadada;
$quinary-color: #282828;

$link-hover-color: #3996c3;

/*---Transitions---*/
$primary-ease-transition: all .15s ease;

/*---Base---*/
body{
  margin:0px;
  color:$primary-color;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  box-sizing:border-box;

  *{
    box-sizing:border-box;

  }
}

a{
  text-decoration:none;
  transition: $primary-ease-transition;
  color:inherit;

  &:hover{
    color:$link-hover-color;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}
h1{
  margin:.67em 0;
}

.hide{display:none !important}
.hide-mobile{
  @media (max-width: $breakpoint-768) {
    display:none !important;
  }
}

.hide-991{
  @media (max-width: $breakpoint-991) {
    display:none !important;
  }
}

.clearfix::after{
  clear: both;
  content: " ";
  display: block;
}

.list-formatter{
  list-style:none;
  margin:0px;
  padding:0px;
}

.inline-icon{
  display: inline-block;
  height: 100%;
  width: 100%;
}

/*---Base Buttons---*/
.btn{
  font: inherit;
  display:inline-block;
  font-size:14px;
  font-weight: 600;
  letter-spacing: .02em;
  line-height: 24px;
  padding: 3px 24px;
  text-align: center;
  transition: $primary-ease-transition;
  background: $tertiary-color;
  border: 1px solid $tertiary-color;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  vertical-align: top;

  &:hover{
    border-color: $link-hover-color;
    background: $link-hover-color;
    color: #fff;
  }

  &.btn-full{
    width:100%
  }
  &.btn-large{
    padding: 10px;
    letter-spacing:2px;
    text-transform:uppercase;
  }
}

/*---Header---*/
.header{
  border-bottom:1px solid $quaternary-color;
  box-sizing:border-box;
  height:69px;
  padding: 14px 15px;
  color: $secondary-color;

  @media (min-width: $breakpoint-1024) {
    padding: 19px 15px;
    height:82px;
  }
  
  /*---Header Mobile---*/
  .header--mobile{
    display:grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    align-items:center;

    @media (min-width: $breakpoint-1024) {
      display:none;
    }

    .header--mobile--dots{
      width:40px;
      height:40px;
      display: inline-flex;
      align-items: center;
      justify-content:center; 

      span{
        width:5px;
        height:5px;
        display:inline-block;
        background-color:$quaternary-color;
        border-radius:50%;
        margin-left:5px;

        &:first-child{
          margin-left:0px;
        }
      }
    }

    .header--mobile--logo{
      justify-self:center;

      .header--mobile--logo--img{
  
        &.icon-logo{
          @media (min-width: $breakpoint-768) {
            display:none;
          }
        }
  
        &.full-logo{
          display:none;
  
          @media (min-width: $breakpoint-768) {
            display:block;
            width: 170px;
          }
  
          @media (min-width: $breakpoint-1024) {
            display:none;
          }
        }
      }
    }
      /*---Header Right Mobile---*/
    .header--mobile--right{
      justify-self:end;

      .header--mobile--icon{
        width:40px;
        height:40px;
        color:$quaternary-color;
        display:inline-flex;
        justify-content:center;
        align-items:center;

        .header--mobile--icon--item{
          fill: $quaternary-color;
          height: 18px;
          width: 24px;
        }
      }
    }
  }

  /*---Header Left---*/
  .header--left{
    display:none;
    width:auto;
    align-items: center;
    float:left;

    @media (min-width: $breakpoint-1024) {
      display:flex;
    }

    .header--logo{
      margin-right: 10px;
      box-sizing: border-box;
      display: flex;

      @media (min-width: $breakpoint-1200) {
        margin-right: 15px;
      }

      .header--logo--img{
        width: 170px;

        @media (min-width: $breakpoint-1200) {
          width: 220px;
        }
      }
    }
  }

  /*---Header Right---*/
  .header--right{
    display:none;
    float:right;
    width:auto;
    align-items:center;

    @media (min-width: $breakpoint-1024) {
      display:flex;
    }

    .header--nav{
      .header--nav--item{
        .header--nav--item--icon{
          fill:$quaternary-color;
        } 
      }
    }
    
    .submenu{
      padding-right:0px !important;
    }
  }

  /*---Header Nav---*/
  .header--nav{

    li{
      display:inline-block;
      position:relative;

      &.submenu{
        padding-right:10px;

        &:hover{
          .header--nav--submenu{
            opacity: 1;
            transform:translateY(0);
            visibility:visible;
            z-index: 19;
            
            .header--nav--submenu--item{
              transition: $primary-ease-transition;
              opacity: 1;
              transform: translateX(0);
              visibility: visible;
            }
          }
        }
        
        .header--nav--item{

          .header--nav--item--icon:not(.account-icon):not(.cart-icon){
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            right: 0px;
          }
        }
      }

      .header--nav--item{
        font-size:16px;
        display:inline-block;
        color: $secondary-color;
        
        @media (min-width: $breakpoint-991) {
          padding:10px 5px;
        }
        @media (min-width: $breakpoint-1024) {
          font-size:15px;
        }
        @media (min-width: $breakpoint-1200) {
          padding:8px;
          font-size:16px;
        }
        @media (min-width: $breakpoint-1382) {
          font-size:18px;
        }

        &:hover{
          color:$tertiary-color;

          .header--nav--item--icon{
            fill:$tertiary-color;
          }
        }
        
        &#cart-button::after{
          content:'2';
          left:16px;
          background-color:$tertiary-color;
          color:white;
          border-radius:50%;
          font-size:12px;
          font-weight:bold;
          height:15px;
          display:flex;
          justify-content:center;
          align-items:center;
          line-height:15px;
          padding:1px;
          position:absolute;
          top:0px;
          min-width:15px;
        }

        &.covid-item{
          color:$tertiary-color;

          &:hover{
            color:#3996c3;
          }
        }

        &.header--search--input--wrapper{
          padding:6px;
          
          .header--search--input{
            border-radius: 5px;
            border: 2px solid #dadada;
            color: #919191;
            padding: 5px 20px 5px 10px;
            max-width: 100px;
            background-position: 95% center;
            background-repeat: no-repeat;
            background-size: 18px;

            &:focus{
              border-color:$tertiary-color;
              outline-color:$tertiary-color;
            }
            &:focus-visible{
              border-color:$tertiary-color;
              outline-color:$tertiary-color;
            }

            &::placeholder{
              color:$quaternary-color;
            }
          }
        }

        .header--nav--item--icon{
          height: 15px;
          width: 15px;
          margin-right:5px;
          fill:$secondary-color;
          transition: $primary-ease-transition;
        }
      }
    }

    /*--Header Nav Second Level Dropdowns--*/
    .header--nav--submenu{
      width: 241px;
      transition: $primary-ease-transition;
      border-radius: 5px;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, .10);
      z-index: 2;
      padding: 0;
      position: absolute;
      top: 100%;
      opacity: 0;
      overflow-x: hidden;
      transform: translateY(10px);
      visibility: hidden;
      /*---Header Account Dropdown---*/
      &.account-submenu{
        width: 305px;
        left: -94px;

        ul{
          padding:0px;
        }
        .header--nav--submenu--footer{
          border-top:2px solid $quaternary-color;
          
          .account-submenu--logout{
            transition: $primary-ease-transition;
            display: block;
            font-size: 16px;
            padding: 14px 0 14px 26px;
            text-decoration: none;
            width: 100%;

            &:hover{
              color:$tertiary-color;
            }
          }
        }
      }
      /*---Header Cart Dropdown---*/
      &.cart-submenu{
        width: 420px;
        left: -233px;
        text-align: center;

        ul{
          padding:0px;

          .cart-submenu--item{
            width: 100%;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position:relative;
            border-bottom: 2px solid $quaternary-color;
            overflow: hidden;
            padding: 10px 20px 12px 20px;

            .cart-submenu--item--img{
              width:46px;
              height:46px;
              border-radius:3px;
              overflow:hidden;
              position:absolute;
            }

            .cart-submenu--item--info{
              display: flex;
              flex-direction: column;
              justify-content: center;
              min-height: 46px;
              min-width: 0;
              padding-left: 56px;
              text-align: left;

              .cart-submenu--item--title{
                color:$quinary-color;

                &:hover{
                  color:$tertiary-color;
                }
              }

              .cart-submenu--item--artist{
                color:$secondary-color;

                &:hover{
                  color:$tertiary-color;
                }
              }
            }
          }
        }
        .btn--view-cart{
          margin:12px auto;
        }
      }
      /*---Header Submenu Dropdown Headers---*/
      .header--nav--submenu--header{
        width:100%;
        position:relative;
        border-bottom:2px solid $quaternary-color;
        padding:14px 24px 16px;
        /*---Header Submenu Account Dropdown Header---*/
        .account-header--wrap{
          color:$secondary-color;
          
          .account-header--credits{
            font-weight:600;
            font-size:16px;

            #header_credits{
              color: $quinary-color;
              font-size: 28px;
              margin: 0 10px 0 0;
            }
          }
          .account-header--buy{
            position:relative;

            .account-header--buy--link{
              position:absolute;
              bottom:5px;
              right:0px;

              &:hover{
                color:$tertiary-color;
              }
            }
          }
        }
      }
      /*---Header Nav Submenu Wrapper---*/
      .header--nav--submenu--wrapper{
        background: #fff;
        border-radius: 5px;
        border: 2px solid $quaternary-color;
        overflow: hidden;
        width: 100%;
        padding: 0;

        .header--nav--submenu--item{
          transition: $primary-ease-transition;
          display: block;
          opacity: 0;
          position: relative;
          transform: translateX(-6px);
          visibility: hidden;
          width: calc(100% + 5px);

          .header--nav--submenu--item--link{
            transition: $primary-ease-transition;
            display: block;
            font-size: 16px;
            padding: 10px 0 10px 28px;
            text-decoration: none;
            transform: translateX(-5px);
            width: 100%;
            color:$secondary-color;

            &:hover{
              color:$tertiary-color;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

/*---Main Content Section---*/
.content-wrapper{
  /*---Grid format for body---*/
  .cart-credits{
    display: block;
    grid-template-rows: unset;
    grid-template-columns: unset;

    @media (min-width: $breakpoint-991) {
      display: grid;
      grid-template-areas:
          "product-list summary"
          "saved summary";
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 340px;
    }
    @media (min-width: $breakpoint-1200) {
      display: grid;
      grid-template-areas:
          "product-list summary"
          "saved summary";
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 28.563%;
    }
  }
/*---General Styles for cart sections---*/
  .cart-credits--section{
    padding: 40px 16px;
    padding-bottom:0;

    @media (min-width: $breakpoint-768) {
      padding:80px 45px;
      padding-bottom:0;
    }

    h1.cart-credits--title{
      font-size: 33px;
      font-weight:700;
      margin-top:0px;
    }

    h2.cart-credits--title{
      font-size: 24px;
      font-weight:700;
      margin-top:0px;
    }
    /*---Product items within the cart & Saved for later sections---*/
    .product{
      padding: 16px 16px 32px;
      font-size:16px;
      color:$secondary-color;
      border-bottom: 1px solid $quaternary-color;
      position:relative;

      @media (min-width: $breakpoint-768) {
        padding: 16px 20px 48px;
      }
      
      .product--primary-row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        font-size:14px;

        @media (min-width: $breakpoint-991) {
          flex-wrap:nowrap;
        }
        .product--details{
          display:flex;
          align-items:center;
          width:100%;
          

          @media (min-width: $breakpoint-991) {
            width:auto;
            width: 100%;
            max-width: 300px;
          }
          .product--img{
            width:88px;
            border-radius:4px;
            margin-right:16px;
          }
          .product--title{
            display:block;
            font-weight:700;
            color:$primary-color;

            &:hover{
              color:$link-hover-color;
            }
          }
          .product--artist{
            display:block;
          }
        }

        .product--type{
          display:flex;
          align-items:center;
          padding:16px 0;

          @media (min-width: $breakpoint-768) {
            width: 100%;
            max-width: 155px;
          }
          @media (min-width: $breakpoint-991) {
            width: 100%;
            max-width: 32px;
          }
          @media (min-width: $breakpoint-1200) {
            width: 100%;
            max-width: 155px;
          }
          

          span{
            display:inline-block;
            font-weight:700;

            @media (min-width: $breakpoint-991) {
              display:none;
            }
            @media (min-width: $breakpoint-1200) {
              display:inline-block;
            }
          }
          .cart-product-icon{
            margin-right:6px;
            fill:$secondary-color;
          }
        }
        .product--cost{
          font-weight:700;
          color:$primary-color;
          padding:16px 0;
        }
        .product--right{
          max-width:200px;
          width:100%;
          text-align:right;
        }
      }

      .product--secondary-row{
        text-align:right;
      }
        .product--action{
          display:block;

          .remove-item{
            position:absolute;
            top: 45px;
            right: 20px;
            

            @media (min-width: $breakpoint-991) {
              position:unset;
              top:unset;
              right:unset;
            }
            .remove-item--desktop{
              display:none;
              @media (min-width: $breakpoint-991) {
                display:inline-block;
              }
            }
            .remove-item--mobile{

              @media (min-width: $breakpoint-991) {
                display:none;
              }
            }
          }
          
          .save-for-later{
            padding:9px 24px;
            font-size:14px;
            line-height:1;
            font-weight:700;
            border:1px solid $secondary-color;
            border-radius: 23px;
            display:inline-block;

            @media (min-width: $breakpoint-991) {
              font-weight:400;
              border:0px;
              padding:0px;
              font-size:16px;
            }

            &:hover{
              border-color:$link-hover-color;
            }
          }

          .vertical-pipe{
            padding:0px 10px;
          }
        }
      
    }
    /*---Continue Shoppiing---*/
    .continue-shopping-wrapper{
      padding:16px 0;
      .continue-shopping-icon{
        margin-right:10px;
      }
      .continue-shopping-link{
        color:$tertiary-color;

        &:hover{
          color:$link-hover-color;

          .continue-shopping-icon{
            fill:$link-hover-color;
          }
        }
      }
    }
    /*---Grid area for product list section---*/
    &.product-list--section{
      grid-area: product-list;
    }
    /*---Saved for later section---*/
    &.saved-for-later--section{
      grid-area: saved;
      padding-bottom:80px;

      .product{
        padding: 32px 20px 32px;
        .product--primary-row{
          .product--details{
            .product--img{
              width:48px;
              height:48px;
            }
          }
          .product--action{
            display:block;
  
            .remove-item{
              position:absolute;
              top: 45px;
              right: 20px;
              
  
              @media (min-width: $breakpoint-991) {
                position:unset;
                top:unset;
                right:unset;
                display:block;
              }

              @media (min-width: $breakpoint-991) {
                display:inline-block;
              }

              .remove-item--mobile{
  
                @media (min-width: $breakpoint-991) {
                  display:none;
                }
              }
            }
            
            .saved-add-to-cart{
              padding:9px 24px;
              font-size:14px;
              line-height:1;
              font-weight:700;
              border:1px solid $secondary-color;
              border-radius: 23px;
              display:inline-block;
              margin-left:16px;
  
              &:hover{
                border-color:$link-hover-color;
              }
            }
  
            .vertical-pipe{
              padding:0px 10px;
            }
          }
        }
      }
    }
    /*---Order Summary Section---*/
    &.order-summary--section{
      grid-area: summary;
      font-size:16px;

      @media (min-width: $breakpoint-991) {
        background-color:#fafafa;
      }
      .order-summary--wrapper{

        @media (min-width: $breakpoint-991) {
          background-color:#fafafa;
          padding-bottom:80px;
        }
        .order-summary--block{
          padding:16px 8px;
          border-bottom:1px solid $quaternary-color;

          @media (min-width: $breakpoint-991) {
            padding:32px 0px;
          }

          .order-summary--row{
            font-weight:700;
            display:flex;
            justify-content:space-between;

            &.promo{
              padding-top:32px;
            }

            .order-summary--row--title{
              color:$quinary-color;

              span{
                color:$secondary-color;
                font-weight:400;
              }
            }
            .order-summary--row--value{
              color:$secondary-color;

              .total{
                color:$quinary-color;
              }

              .payment-method--link{
                color:$tertiary-color;
                font-weight:400;
                text-decoration:underline;

                &:hover{
                  color:$link-hover-color;
                }
              }
            }
          }
        }
        .order-summary--button-wrapper{
          padding: 16px;
        }

        .order-summary--footer-block{
          color:$secondary-color;
          padding:16px 0;

          @media (min-width: $breakpoint-991) {
            padding:32px 0;
          }
        }

        .order-summary--disclosure {
          text-align:center;
          padding:16px;
          @media (min-width: $breakpoint-991) {
            padding:16px 0;
          }
        }

        .order-summary--disclosure-link{
          text-decoration:underline;
          &:hover{
            color:$link-hover-color;
          }
        }
      }
    }
  }
  /*---Sticky section for add to cart button---*/
  .sticky-total{
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:99;
    padding:16px;
    width:100%;
    background-color:#fff;

    @media (min-width: $breakpoint-768) {
      display:none;
    }

    .sticky-total--wrapper{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;

      .sticky-total--total{
        font-weight:bold;
      }
      .sticky-total--checkout{
        .btn{
          padding: 16px 30px;
          line-height: 1;
        }
      }
    }
  }
}

/*---Footer---*/
.footer{
  /*---Primary Footer---*/
  .footer--primary{
    background: #282828;
    padding: 40px 15px 0;

    @media (min-width: $breakpoint-768) {
      padding: 40px 40px 0;
    }

    @media (min-width: $breakpoint-1200) {
      padding: 40px 40px 15px;
    }

    .footer--primary--wrapper{
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1170px;
      width: 100%;

      @media (min-width: $breakpoint-1200) {
        display: grid;
        grid-template-columns: 1fr 370px;
        grid-template-rows: 110px 100px auto;  
      }

      .footer--title{
        color: #fafafa;
        margin: 0 0 5px;
        font-size: 18px;
      }

      .footer--link{
        color: $secondary-color;
        text-decoration: none;
        font-size:16px;

        &:hover{
          color:#fff;
        }
      }
      /*---Footer Categories Section---*/
      .footer--categories{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        margin-bottom:40px;
        
        @media (min-width: $breakpoint-1200){
            grid-row: 1/span 3;
            margin-bottom: 0;
        }

        .footer--categories--col{
          width: 33.33%;
          min-width: 144px;
          flex-grow: 1;

          @media (min-width: $breakpoint-768) {
            width: 25%;
            min-width: 0;
          }

          .footer--nav{
            margin-bottom: 25px;
          }

          .footer--nav--item{
            margin:0 0 8px;
          }
        }
      }
      /*---Footer Newsletter Subscribe Section---*/
      .footer--newsletter{
        margin-bottom: 40px;
        order: -2;
        width: 100%;

        @media (min-width: $breakpoint-768) {
          order: 2;
          float: left;
          width: 50%;
        }

        @media (min-width: $breakpoint-1200) {
          margin-bottom: 0;
          width: auto;
        }
        /*---Footer Subscribe Input/Button---*/
        .footer--newsletter--subscribe{
          display: flex;
          align-items: center;

          .input{
            width:100%;
            height: 40px;
            display:block;
            border-radius: 4px 0 0 4px;
            background: #171717;
            -webkit-appearance: none;
            border: 1px solid #5C5C5C;
            color: $secondary-color;
            font-size: 16px;
            line-height: 1;
            outline: 0;
            padding: 0 4px 0 10px;

            @media (min-width: $breakpoint-1200){
              font-size: 14px;
            }

            &:focus{
              background: #1c1c1c;
            }
          }
          
          .btn{
            border-radius: 0 4px 4px 0;
            flex-shrink: 0;
            height: 40px;
            line-height: 1.95;
          }
        }
      }
      /*---Footer Support Section---*/
      .footer--support{
        width: 100%;
        margin-bottom: 40px;
        order: -1;

        @media (min-width: $breakpoint-768) {
          order: 5;
        }

        @media (min-width: $breakpoint-1200) {
          grid-column: 2/span 1;
          margin-bottom: 0;
          order: 3;
        }
      }
      /*---Footer Social Media Section---*/
      .footer--social{
        margin-bottom: 40px;
        width: 100%;

        @media (min-width: $breakpoint-768) {
          order: 4;
          float: right;
          margin-top: 8px;
          margin-left: 10%;
          width: 40%;
        }

        @media (min-width: $breakpoint-1200) {
          grid-column: 2/span 1;
          margin: 0;
          width: auto;
        }
        /*---Footer Social Media Icons---*/
        .footer--social--icons{
          display: grid;
          grid-auto-columns: 26px;
          grid-auto-flow: column;
          grid-column-gap: 12px;
          grid-template-rows: 27px;
          justify-content: center;
          overflow: hidden;

          @media (min-width: $breakpoint-768) {
            justify-content: right;
          }
  
          @media (min-width: $breakpoint-1200) {
            float: left;
            margin-right: 30px;
          }

          .social-icon{
            
            svg{
              fill:$secondary-color;
            }
          }
        }
        /*---Social Media Iframe Plugins--*/
        .footer--social--plugins{
          display: flex;
          justify-content: center;
          margin-top: 24px;

          @media (min-width: $breakpoint-768) {
            justify-content: flex-end;
          }
  
          @media (min-width: $breakpoint-1200) {
            margin-top: 3px;
          }

          .footer--social--plugins-box{
            float: left;

            &:last-child{
              margin-left:10px;
            }
          }
        }
      }

      .footer--angle-right{
        width: 6px;
        height: 10px;
        margin-left:5px;
        vertical-align:middle;
        fill:$secondary-color;
      }
    }
  }
  /*---Secondary Footer---*/
  .footer--secondary{
    background: #171717;
    padding: 15px;
    font-size:14px;
    color:$secondary-color;

    .footer--secondary--wrapper{
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto;
      max-width: 320px;

      @media (min-width: $breakpoint-768) {
        display: grid;
        grid-row-gap: 15px;
        align-items: center;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
        grid-template-rows: 30px;
        max-width: 1170px;
      }

      .footer--secondary--link--wrapper{
        text-align:center;
        .footer--secondary--link{
          margin:0px 5px;
        }
      }

      /*---Faux Select---*/
      .faux-menu-select {
        background: 0 0;
        color: #919191;
        display: inline-block;
        font-size: 16px;
        overflow: hidden;
        position: relative;
        justify-self: center;
        margin: 0 auto 20px;

        @media (min-width: $breakpoint-768) {
          grid-column: 3/span 1;
          grid-row: 1;
          margin: 0;
        }

        @media (min-width: $breakpoint-1200) {
          justify-self: right;
        }

        .faux-menu-select--pre-icon{
          width: 18px;
          height: 18px;
          left: 12px;
          fill: $secondary-color;
          pointer-events: none;
          position: absolute;
          top: 6px;
        }

        .faux-menu-select--input{
          -webkit-appearance: none;
          background-color: transparent;
          border: none;
          color: #919191;
          cursor: pointer;
          font-size: 16px;
          height: 26px;
          outline: 0;
          padding-right: 24px;
          text-decoration: none;
          padding-left: 42px;
          font: inherit;
          margin: 0;

          @media (min-width: $breakpoint-1200) {
            font-size: 18px;
          }
        }

        .faux-menu-select--arrow{
          height: 6px;
          width: 14px;
          fill: $secondary-color;
          margin-top: -2px;
          pointer-events: none;
          position: absolute;
          right: 12px;
          top: 50%;
        }
      }
    }
  }
}